.history-button button {
  background: #eee;
  border: 2px solid #eee;
  margin-bottom: 5px;
}

.history-button button:hover {
  background: #ddd;
}

.history-selected button {
  background: #ccc;
  border: 2px solid #ccc;
}
.flex-reverse {
  display: flex;
  flex-direction: column-reverse;
}
